spring:
  application:
    name: api-gateway
  config:
    import: configserver:http://localhost:8888
  main:
    allow-bean-definition-overriding: true

server:
  port: 8765

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring.cloud.compatibility-verifier.enabled: false
